button {
    background-color: #535e6a;
    border: #6fb8ff;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #1E90FF;
    box-shadow: 3px 3px red;
  }



  